In [42]:
import numpy as np
import pandas as pd

data = pd.read_csv('mercedesbenz.csv',usecols=['X1', 'X2'])
data.head()

  X1  X2
0  v  at
1  t  av
2  w   n
3  t   n
4  v   n

In [5]:
data.shape

(4209, 3)

In [6]:
pd.get_dummies(data).shape

(4209, 78)

In [45]:
data['X2'].value_counts().to_dict()

{'as': 1659,
 'ae': 496,
 'ai': 415,
 'm': 367,
 'ak': 265,
 'r': 153,
 'n': 137,
 's': 94,
 'f': 87,
 'e': 81,
 'aq': 63,
 'ay': 54,
 'a': 47,
 't': 29,
 'i': 25,
 'k': 25,
 'b': 21,
 'ao': 20,
 'z': 19,
 'ag': 19,
 'd': 18,
 'ac': 13,
 'g': 12,
 'ap': 11,
 'y': 11,
 'x': 10,
 'aw': 8,
 'at': 6,
 'h': 6,
 'q': 5,
 'al': 5,
 'an': 5,
 'p': 4,
 'ah': 4,
 'av': 4,
 'au': 3,
 'l': 1,
 'aa': 1,
 'c': 1,
 'af': 1,
 'ar': 1,
 'am': 1,
 'j': 1,
 'o': 1}

In [46]:
data_map = data['X2'].value_counts().to_dict()

data['X2'] = data['X2'].map(data_map)

data.head()

  X1   X2
0  v    6
1  t    4
2  w  137
3  t  137
4  v  137

In [47]:
data.axes

[RangeIndex(start=0, stop=4209, step=1), Index(['X1', 'X2'], dtype='object')]

In [51]:
data.sum()

X1    vtwtvbrlsbrrbrslraacasaarbrslaasbvebssblvvslha...
X2                                              3454583
dtype: object

In [52]:
data.describe()

                X2
count  4209.000000
mean    820.760988
std     689.576693
min       1.000000
25%     265.000000
50%     496.000000
75%    1659.000000
max    1659.000000

In [65]:
data.loc[:,['X1' ]]

     X1
0     v
1     t
2     w
3     t
4     v
...  ..
4204  s
4205  o
4206  v
4207  r
4208  r

[4209 rows x 1 columns]

In [68]:
data.iloc[:, :1]

     X1
0     v
1     t
2     w
3     t
4     v
...  ..
4204  s
4205  o
4206  v
4207  r
4208  r

[4209 rows x 1 columns]